
 <!DOCTYPE html>
 <html lang="en">
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <link rel="stylesheet" href="static/css/style.css" type="text/css">
   <title> LOGIN PAGE </title>
  </head>
 
  <body>
    
  </body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Links -->
      <a class="navbar-brand" href="#">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Secretary_Bird_head.jpg/1200px-Secretary_Bird_head.jpg?20090312051410" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
       <h3>
        Welcome, {{username}}!
       </h3>
      </a>
</nav>
  <form action="/logout">
 <input type="submit" value="logout" class="btn btn-outline-danger">
   </form>

   <div class="text-center">
    <ul class="menu">
      <input type="search" placeholder="Search">
      <button type="button" class="button">Search</button>
    </ul>
  </div>
</div>

  <p>
    {{countriesinfo}}
  </p>
    
<p> Select a country below:
  <div class = "dropdown">
    <select id="select1">
      {% for page in countries%}
      <option value={{page}}>{{page}}</option>
      {% endfor %}
     </select>
  </div>
</p>

<br>

<p> Select a location in that country:
  <div class = "dropdown">
    <select id="select2">
      {% for value in locations %}
        {% for val in value %}
          <option value={{val}}>{{val}}</option>
      {% endfor %}
      {% endfor %}
     </select>
  </div>
</p>

<button onclick="getOption()"> Get Country and Location </button>
  
<script type="text/javascript">
function getOption() {
    selectElement = document.querySelector('#select1');
    selectElement1 = document.querySelector('#select2');
    output = selectElement.value + ", " + selectElement1.value;
    document.querySelector('.output').textContent = output;
}
</script>

<p> Country and Location Selected Is: 
    <span class="output"></span>
</p>

<div class="container mt-3">
<table class="table table-hover">
  <tr>
      {% for key in info.keys() %}
          <td>{{key}}</td>
      {% endfor %}
  </tr>

  {% for x in info.values()%}
        <td>{{x}}</td>
  {% endfor %}

</table>
</div>

<p>
  {% for key,value in info.items() %}
    <dt>{{ key }}</dt>
    <dd>{{ value}}</dd>
  {% endfor %}
</p>

</body>



<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>GGG Inc</p>
</div>

</html>


 