
 <!DOCTYPE html>
 <html lang="en">
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <link rel="stylesheet" href="static/css/style.css" type="text/css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <title> HOME PAGE </title>
  </head>
 
  <body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Links -->
      <a class="navbar-brand" href="#">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Secretary_Bird_head.jpg/1200px-Secretary_Bird_head.jpg?20090312051410" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
       <h3>
        Welcome, {{username}}!
       </h3>
      </a>
</nav>
  <form action="/logout">
 <input type="submit" value="logout" class="btn btn-outline-danger">
   </form>

   <div class="text-center">
    <h2>Directly Search Up City Here (Case Sensitive):</h2>
    <form action="/direct_get_info" method= "POST">
      <input type="text" name="location">
       <input type="submit" value="Get Data" placeholder="New York">
    </form>
  </div>

<p> <strong>All Countries:</strong>
  <div class = "dropdown">
    <select id="select1">
      {% for page in countries%}
      <option value={{page}}>{{page}}</option>
      {% endfor %}
     </select>
  </div>
</p>

<p> <strong>All Cities:</strong>
  <div class = "dropdown">
    <select id="select2">
      {% for value in locations%}
        {% for val in value%}
          <option value={{val}}>{{val}}</option>
      {% endfor %}
      {% endfor %}
     </select>
  </div>
</p>

<br>

<h2>Select a Country to see Available Locations:</h2>
<div class="dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Countries (Air Quality)</a>
  <form action="/find_locations" method="POST">
      {% for page in countries%}
        <input name="name" value="{{page}}" type="submit" class="dropdown-item">
      {% endfor %}
  </form>
</div>

<div class="dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Countries (Data)</a>
  <form action="/countries_data" method="POST">
      {% for page in countries%}
        <input name="country_name" value="{{page}}" type="submit" class="dropdown-item">
      {% endfor %}
  </form>
</div>
<br>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>GGG Inc</p>
</div>

</html>


 